.projects {
  background-color: #1a1a1a;

  &-all {
    display: flex;
    flex-direction: column;
  }
}

.project {
  display: flex;

  &-slider {
    position: relative;
    margin: 0 auto;
    outline: none;
    display: flex;
    align-items: center;

    &-content {
      overflow: hidden;
      font-size: 0;
      margin: 0 auto;
      display: flex;
      align-items: center;

      &-inner {
        white-space: nowrap;
        transition: margin 1s ease 0s;
        
        &-picture {
          display: inline-block;
          width: 100%;
          height: 100%;
        }
      }
    }

    &-arrows {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;

      &-arrow {
        border: solid white;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 3px;
        cursor: pointer;
        margin: 0 1rem;
        width: 1rem;
        height: 1rem;

        &:hover {
          border: solid rgb(39, 90, 202);
	        border-width: 0 4px 4px 0;
        }
      }

      &-left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }

      &-right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }

  &-details {

    &-title {
      color: #ffffff;
      font-size: 3.8vh;
      line-height: 5vh;
      letter-spacing: 0.35vh;
    }
  
    &-description {
      color: #a9a8a8;
      line-height: 4.3vh;
      margin: 3.5vh 0 4.5vh;
      font-size: 2.6vh;
    }
  
    &-links {
      display: flex;
      justify-content: center;
  
      &-link {
        color: #000000;
        font-weight: 600;
        text-transform: uppercase;
        padding: 2vh 1vh 2vh 2vh;
        background-color: #ffffff;
        letter-spacing: 1vh;
        font-size: 2.1vh;
        word-wrap: normal;
        display: inline-block;
        margin: 0 2.5vw;
  
        &:hover {
          background-color: #000000;
          color: #ffffff;
        }
  
        &:active {
          position: relative;
          top: .3vh;
        }
      } 
    }
  }
}

@media (min-width: 300px) {
  .projects {
    &-all {
      padding: 0 1rem;
    }
  }

  .project {
    flex-direction: column;
    height: 100vh;
    
    &-slider {
      height: 45%;
      width: 100%;
      margin: 2rem 0;

      &-content {
        width: 70%;

        &-inner {
          width: 100%;

          &-picture {
            width: 100%;
          }
        }
      }
    }

    &-details {
      height: 55%;

      &-title {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .projects {
    &-all {
      padding: 0 1.2rem;
    } 
  }

  .project {
    flex-direction: column;

    &-slider {
      margin: 0 auto;
      width: 80%;
      
      &-content {
        width: 48%;

        &-inner {
          width: 100%;

          &-picture {
            width: 100%;
          }
        }
      }
    }

    &-details {
      justify-content: flex-start;
      text-align: center;
      width: 100%;

      &-title {
        text-align: center;
      }

      &-links {
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1025px) and (min-height: 1300px) and (max-height: 1400px) {
  #app .project {
    flex-direction: column;

    &-slider {
      margin: 0 auto;
      width: 80%;
      
      &-content {
        width: 68%;

        &-inner {
          width: 100%;

          &-picture {
            width: 100%;
          }
        }
      }
    }

    &-details {
      justify-content: flex-start;
      text-align: center;
      width: 100%;

      &-title {
        text-align: center;
      }

      &-links {
        justify-content: center;
      }
    }
  }
}

@media (min-width: 1000px) {
  .projects {
    &-all {
      padding: 0 1.4rem;
    }
  }

  .project {
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-items: center;

    &-slider {
      height: 100%;
      width: 50%;

      &-content {
        width: 80%;

        &-inner {
          width: 100%;

          &-picture {
            width: 100%;
          }
        }
      }
    }

    &-details {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      padding: 0 3rem;

      &-title {
        text-align: left;
      }

      &-links {
        justify-content: left;

        &-link {
          margin: 0 2.5vw 0 0;
        }
      }
    }
  }
}
