.navbar {
  position: fixed;
  background-color: #000000;
  z-index: 1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &-website {

    &-name {
      font-size: 5vh;
      letter-spacing: .3vw;
      font-family: 'Raleway', ;
      cursor: pointer;
    }
  }

  &-nav {
    width: 11.5vw;
    font-size: 1.3vw;
    display: flex;

    &-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &-link {
        text-align: right;
        cursor: pointer;

        &:hover {
          color: rgb(127, 206, 252);
        }
        
        &-onelink {
          font-size: 2.4vh;

          &-logo {
            width: 60%;
          }
        }      
      }
    }

    &-burger {
      display: none;
      cursor: pointer;
      
      &-line {
        width: 5vh;
        height: 0.5vh;
        background-color: #d8d2d2;
        margin: 1vh;
      }
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 899px) {
  .navbar {
    padding: 2vh;

    &-website {

      &-name {
        font-size: 3.9vh;
      }
    }

    &-nav {
      justify-content: flex-end;

      &-links {
        position: fixed;
        right: 0px;
        height: 93vh;
        top: 7vh;
        background-color: #000000;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        transform: translateX(100%);
        transition: transform .5s ease-in;

        &-link {
          margin: 9vh 0 1vh;

          &-onelink {
            
            &-logo {
              width: 12vh;
            }
          }
        }

        &-active {
          transform: translateX(0%);
          display: flex;
        }
      }

      &-burger {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 850px) and (max-height: 500px) {
  body .navbar {

    &-nav {

      &-links {
        height: 87vh;
        top: 13vh
      }
    }
  }
}

@media screen and (min-width: 1020px) and (min-height: 1300px) and (max-height: 1370px) {
  html body .navbar {
    padding: 2vh;

    &-website {

      &-name {
        letter-spacing: .6vw;
        display: block;
      }
    }

    &-nav {
      justify-content: flex-end;

      &-links {
        position: fixed;
        right: 0px;
        height: 94vh;
        top: 6vh;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        transform: translateX(100%);
        transition: transform .7s ease-in;

        &-link {
          margin-bottom: 5vh;

          &-onelink {

            &-logo {
              width: 12vh;
            }
          }
        }

        &-active {
          transform: translateX(0%);
        }
      }

      &-burger {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 900px) and (min-height: 300px) {
  body .navbar {
    padding: 2vw 3vw;

    &-website {

      &-name {
        font-size: 2.5vw;
      }
    }

    &-nav {

      &-links {

        &-link {

          &-onelink {
            font-size: 2.4vh;
          }
        }
      }
    }
  }
}
