.border {
  text-align: center;
  padding-bottom: 1.5px;
  background: gray;
  /* background:
    linear-gradient(
      to left, 
      #616161 0%,
      #8c8c8c 12%,
      #f1ecec 47%,
      #2d2d2d 100%
    )
    left 
    bottom
    #777    
    no-repeat; */ 
  background-size:100% 5px;
}
